
<div class="main">
    <mat-sidenav-container class="container">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" opened class="side">
            <div class="side-first">
                Admin Panel
            </div>
            <div>
                <button routerLink="/" mat-button>Profile</button>
            </div>
            <div>
                <button routerLink="/user-list" mat-button>User List</button>
            </div>
            <div>
                <button routerLink="/roles" mat-button>Role List</button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="header">
                <mat-toolbar>
                    <div class="left-header-content">
                        <span>
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                            </button>
                        </span>
                        <span class="title">Greetings {{user | titlecase}}</span>
                    </div>
                    <div class="right-header-content">
                        <div>
                            <!-- <span><mat-icon>face</mat-icon></span>
                            <span class="small-name">{{user}}</span>
                            <span>|</span> -->
                            <span *ngIf="login">
                                <button mat-raised-button color="primary" (click)="goToLogin()" [routerLink] = "'/login'">Login</button>
                            </span>
                            <span *ngIf="!login">
                                <button mat-raised-button color="primary" (click)="signout()" [routerLink] = "'/login'">Signout</button>
                            </span>
                            
                        </div>
                    </div>
                </mat-toolbar>
            </div>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  